{% block stylesheets %}
<style>
 
    /* Styling the Body element i.e. Color,
    Font, Alignment */
    body {
        background-color: #e8f1f8;
        font-family: Verdana;
        text-align: center;
    }

    /* Styling the Form (Color, Padding, Shadow) */
    form {
        background-color: #fff;
        width:100%;
        
        margin: 50px auto;
        padding: 30px 20px;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    }

    /* Styling form-control Class */
    .form-control {
        text-align: left;
        margin-bottom: 25px;
    }

    /* Styling form-control Label */
    .form-control label {
        display: block;
        margin-bottom: 10px;
    }

    /* Styling form-control input,
    select, textarea */
    .form-control input,
    .form-control select,
    .form-control textarea {
        border: 1px solid #777;
        border-radius: 2px;
        font-family: inherit;
        padding: 10px;
        display: block;
        width: 95%;
    }

    /* Styling form-control Radio
    button and Checkbox */
    .form-control input[type="radio"],
    .form-control input[type="checkbox"] {
        display: inline-block;
        width: auto;
    }

    /* Styling Button */
    button {
        background-color: #05c46b;
        border: 1px solid #777;
        border-radius: 2px;
        font-family: inherit;
        font-size: 21px;
        display: block;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 20px;
    }
</style>
{% endblock stylesheets %}
  
<body>
    <h1>Question Bank</h1>
  
    <!-- Create Form -->
    <form id="form">
 
        <!-- Details -->
        <div class="form-control">
            <label for="coursecode" id="label-coursecode">
                Course Code
            </label>
 
            <!-- Input Type Text -->
            <input type="text"
                   id="coursecode"
                   placeholder="Enter the course code.." />
        </div>
  
        <div class="form-control">
            <label for="type" id="label-type">
                Department
            </label>
 
            <!-- Input Type Email-->
            <input type="text"
                   id="type"
                   placeholder="Enter your dept..." />
        </div>
  
        
  
        <div class="form-control">
            <label for="credit" id="label-credit">
                Exam Type
            </label>
             
            <!-- Dropdown options -->
            <select name="value" id="value">
                <option value="1">Quiz</option>
                <option value="3">Mid</option>
                <option value="4">
                    Final
                </option>
                <option value="other">Other</option>
            </select>
        </div>
  
        <div class="form-control">
            <label for="credit" id="label-credit">
                CO
            </label>
             
            <!-- Dropdown options -->
            <select name="value" id="value">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3 </option>
                <option value="4">4
                    
                </option>
                <option value="other">Other</option>
            </select>
        </div>
  
        
  
        <div class="form-control">
            <label for="comment">
                Question
            </label>
 
            <!-- multi-line text input control -->
            <textarea name="comment" id="comment"
                placeholder="Enter your question here">
            </textarea>
        </div>
        
        </div>
  
        <!-- Multi-line Text Input Control -->
        <button type="submit" value="submit">
            Submit
        </button>
    </form>
</body>
  
</html>